p{
    font-size: 5vw;
    font-family: "Varela round";
}
.ttl{
    font-size: 5vw;
    font-family: "Varela round";
}
.txt{
    font-family: 'Varela Round';
    color: #000000;
    font-style: normal;
    font-weight: normal;
}
.ipbox{
    height: 35px;  
    background: #FFFFFF;
    border: 1px solid #CBCBCB;
    box-sizing: border-box;
    width: -webkit-fill-available ;
} 