<ion-content>
  <ion-grid *ngIf="showList" >
  <ion-row>
    <ion-col size="10">
       
    <ion-list>
        <ion-list-header>
            <ion-label class="txt">Choose Customer</ion-label>
          </ion-list-header>
    
        <ion-radio-group>  
           
           <ion-item *ngFor="let item of cliName; index as i" class="txt" >
              <ion-radio slot="start" [value]="item" (ionSelect)="onSelectItem($event,i)" ></ion-radio>
                 {{item | titlecase}}
              </ion-item>
          </ion-radio-group>
    
    </ion-list>
   
 
  </ion-col>
 

  </ion-row>
  <ion-row>
    <ion-col size="12">
        <ion-button expand="full" color="dark" [disabled]="disableBtn"  (click)="onClkItem()">SET</ion-button>
    </ion-col>
    
  </ion-row>
     
</ion-grid>
  
<ion-grid text-center *ngIf="!showList">
  <ion-row>
     <ion-col size="12"></ion-col>
  </ion-row>
  <ion-row>
      <ion-col size="12"></ion-col>
  </ion-row>

  <ion-row *ngIf="spin" >
      <ion-col>
          <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
  </ion-row>
  <ion-row *ngIf="!spin">

   
    <ion-col >
        <img  [src]="logo" width=240>  
    </ion-col>
  </ion-row>
  <ion-row >
      <div class="login-box" >
          <form  [formGroup]="ngForm">
        <ion-row text-start>
         
         
           <div>
              <div class="usr">{{titleUsrname}}</div>
           </div>
          
              <div class="inputname">  <ion-input type="text" clear-input id="username" placeholder=" Enter user name here.." formControlName="username"  ></ion-input></div>
           
           <div>
              <div class="passwd">{{titlePwd}}</div>
            </div>
              <div class="inputpwd"><ion-input clear-input type="password" id="password"  placeholder=" Enter password here.." formControlName="password"  ></ion-input></div>  
          
    
        <ion-button (click)="authentication()" class="btn"  [disabled]="!ngForm.valid" color="dark">LOGIN</ion-button>
    
    </ion-row>
    </form>

   
    </div>
    </ion-row>
      <ion-row>
        <div class="fbox" (click)="onclkFingerprint()">
          <ion-row>
           <div class="fingerprint"><!--<ion-icon name="finger-print"></ion-icon> -->
            <img src="assets/imgs/small-finger.svg" >
          </div>
          <p class="fnote">You can identity with a fingerprint</p>
        </ion-row>
        </div>
      </ion-row>
    
</ion-grid>
</ion-content>
  

