.txt{
    font-family: 'Varela Round';
    color: #000000;
    font-style: normal;
    font-weight: normal;
  }
  .spacer{
    flex: 1 1 auto;
}

.hdr{
    font-size: 5vw;
    
}
.cuname{
    font-size: 3vw;
}
.crtdate{
    font-size: 3vw;
}
.desc{
    font-size: 3vw; 
   
}
.arrow{
    top:2px;
    z-index: 10;
}