.ipbox{
    margin-top: 10px;
    height: 40px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}
.ipbox2{
    margin-top: 10px;
   
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}