
<ion-list  >
  <div *ngIf="data && data.results" >
    <ion-item *ngFor="let d of data.results">
      <ion-label>{{d.text}}</ion-label>
      <ion-checkbox slot="end" [value]="d.text" (ionChange)="chkValue($event)" ></ion-checkbox>
    </ion-item>
    </div>
  </ion-list>
  <ion-list *ngIf="data" >
      <ion-radio-group>
      <ion-item *ngFor="let d of data">
        <ion-label>{{d.label}}</ion-label>
      
        <ion-radio slot="end" [value]="d.value" (ionSelect)="chkValue($event)" ></ion-radio>
     
      </ion-item>
    </ion-radio-group>
    </ion-list>
  <ion-button slot="end" (click)="onClick()">OK</ion-button>