.txt{
    font-family: 'Varela Round';
    color: #000000;
    font-style: normal;
    font-weight: normal;
}
.select-box{
    
position: absolute;
left: 5.11%;
right: 2.43%;
top: 32.95%;
bottom: 50.76%;

background: #0000;
border: 1px solid #0000;
box-sizing: border-box;
}
.ipbox{
    height: 40px;  
    background: #FFFFFF;
    border: 1px solid #CBCBCB;
    box-sizing: border-box;
    width: -webkit-fill-available ;
}
.ttl{
    font-size: 7vw;
  
}
.ttl1{
    font-size: 4.5vw;
}
