<ion-header>
  <app-header></app-header>
  <ion-toolbar  color="light" >
      <ion-buttons slot="secondary" >
       
        <ion-button *ngIf="showic" (click)="onClkFunnel()" >
          <ion-icon slot="icon-only" name="ios-funnel" ></ion-icon>
        </ion-button>
        <ion-button *ngIf="!showic" (click)="onClkClose()" >
            <ion-icon slot="icon-only" name="close" ></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>{{vdata.title}}</ion-title>
      <ion-back-button slot="start" >
        </ion-back-button>
    </ion-toolbar>
  <ion-toolbar color="light" *ngIf="!showic">
    <div >
        <ion-grid (ionChange)="searchItem($event)">
          
            <ion-row>
             
              <div>
                  <ion-label class="txt">Read/Not Read</ion-label>
              </div>
              </ion-row>
              <ion-row>
                 
              <div  style="width: 100% !important;">
               <ion-select class="ipbox txt" placeholder="Select"   name="readunread" >
                  <ion-select-option value="all" >All</ion-select-option>
                 <ion-select-option value="read" >Read</ion-select-option>
                 <ion-select-option value="notread" >Not Read</ion-select-option>
               </ion-select>
              </div>
            
            </ion-row>
            <ion-row>
               <ion-col size="6">
                  <div>
                      <ion-label class="txt">From Date</ion-label>
                      <input class="ipbox" type="date" value="fromdate" name="fromdate">
                  </div>
               </ion-col>
          
               <ion-col size="6">
                  <div>
                      <ion-label class="txt">To Date</ion-label>
                      <input class="ipbox" type="date" value="todate" name="todate">
                  </div>
               </ion-col>
             
            </ion-row>
         
          </ion-grid>
        </div>

</ion-toolbar> 
</ion-header>

<ion-content >
  <div *ngFor="let item of itemArray" >
    <ion-card >
      <ion-item lines="none">       
          <div (click)="onClickCard(item)">
              <h2 class="txt ttl"> {{item.created_by_alias}}</h2>
              <p class="txt ttl1">{{item.title}}</p>
              <p class="txt ttl1"> {{item.created | date:'dd/MM/yyyy hh:mm'}}</p>
          </div>    
        </ion-item>
      <ion-row>
          <ion-col size="8">            
             
            
           
          </ion-col>
       <ion-col size="1">

       </ion-col>
      
          <ion-col size="3" slot="end" *ngIf="item && item.hasread != undefined && item.hasread==1" >
              <img src="assets/imgs/done.png" class="done">
          </ion-col>
          <ion-col size="3" slot="end" *ngIf="item && item.hasread != undefined && item.hasread==0">
              <img src="assets/imgs/not_done.png" class="done">
          </ion-col>
          
        </ion-row>
      
      </ion-card>
     
 
</div>
<ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>


</ion-content>
