

<div [formGroup]="form">
    <label class="qst" [attr.for]="question.id" *ngIf="question.qtype != '10'"  >{{question.question}}</label>
       
    <div [ngSwitch]="question.qtype">
      <div *ngSwitchCase="'1'">
              <div *ngIf="question.multichoice == 0" >
                          <ion-input class="ipbox txt"  
                          [formControlName]="question.id"
                          [id]="question.id" type="text"></ion-input>
              </div>
              </div>
       <div *ngSwitchCase="'1'">
              <div  *ngIf="question.multichoice == 1" >       
                          <textarea  class="ipbox txt"
                                  [formControlName]="question.id"
                                  [id]="question.id" >
                          </textarea>
              </div>
      </div>    
      <div *ngSwitchCase="'2'" >
                <ion-radio-group>  
           
                                <ion-item lines="none" *ngFor="let item of question.options; let i = index;" [attr.for]="item" class="txt">
                                   <ion-radio slot="start" [value]="item" (ionSelect)="changeValue($event,question.id,item.id)"  ></ion-radio>
                                      {{item.qoption | titlecase}}
                                   </ion-item>
                               </ion-radio-group>
      <!-- <div class="radio txt" radioGroup *ngFor="let item of question.options" >
                          <ion-input  formControlName="{{question.id}}" [value]="item.id" type="radio">
                             &nbsp;{{item.qoption}}
       </div> -->
      </div>  
       <div *ngSwitchCase="'3'">
        <ion-input class="ipbox txt" #files type="file" (change)="selectFile($event,question.id)"
       
         [id]="question.id" placeholder="Choose File" multiple></ion-input>
    
      </div>
   <ion-input class="ipbox txt" *ngSwitchCase="'4'" 
              [formControlName]="question.id"
              [id]="question.id" type="number"></ion-input>
                  <!-- Date Picker-->
      <ion-input type="date" displayFormat="MM/DD/YYYY"  class="ipbox txt" *ngSwitchCase="'5'" 
              [formControlName]="question.id"
              [id]="question.id" type="date"></ion-input>
       
      <div *ngSwitchCase="'6'">             
                          <select class="ipbox txt"  [formControlName]="question.id" [id]="question.id">
                               <option *ngFor="let item of question.options" [value]="item.id">
                                                      {{item.qoption}}
                               </option>
                          </select>        
       </div>
       <div *ngSwitchCase="'7'" >
                  <ion-input type="time" class="ipbox txt"   [formControlName]="question.id"
                  [id]="question.id" ></ion-input>
       </div>
   <div *ngSwitchCase="'8'" >
                <ion-button expand="full" (click)="openModal(question)">Signature Pad</ion-button>
               <!-- <div><ion-input type="image"  [id]="question.id" *ngIf="signatureImg" > </ion-input></div> -->
  
        </div>
 
       <ion-input class="ipbox txt" *ngSwitchCase="'9'" 
              [formControlName]="question.id"
              [id]="question.id" [type]="question.qtype"> </ion-input>    
               <!-- Result Data-->
       <div class="paragrph txt" *ngSwitchCase="'10'"           
              [innerHTML]="question.resultdata[0]">   
           </div>   
       <ion-toggle *ngSwitchCase="'11'" text-center  [formControlName]="question.id" (ionChange)="toggleYes($event)"
       [id]="question.id" >
      </ion-toggle>       

  
    </div> 

  </div>

  <div *ngFor="let item of lastImage" >
  <img src="{{item}}" style="width: 300px;" [hidden]="lastImage === null">
  </div>
  